
a, button{
    display: block;
    all: unset;
}

*{
    touch-action: manipulation;
}

.horizontal-scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 0;
    white-space: nowrap;
}
.horizontal-scroll > *{
    display: inline-block;
    font-size: inherit
}
.horizontal-scroll::-webkit-scrollbar{
    display: none;
}
.horizontal-scroll::-moz-progress-bar{
    display: none;
}
.horizontal-scroll.selector{
    width: calc(100% - 1rem);
    padding: 0 0.5rem;
}
.horizontal-scroll.selector button{
    padding: 1rem;
    border-radius: 0.5rem;
}
.horizontal-scroll.selector button:hover{
    background: var(--l2);
}
.horizontal-scroll.selector button.active{
    background: var(--l3);
    color: var(--accent);
}