@font-face {
    font-family: BaileyScript;
    src: url('./SansSerif/ExtraLight.otf') format('opentype');
    font-weight: 200;
}
@font-face {
    font-family: BaileyScript;
    src: url('./SansSerif/Light.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: BaileyScript;
    src: url('./SansSerif/Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: BaileyScript;
    src: url('./SansSerif/Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: BaileyScript;
    src: url('./SansSerif/Bold.otf') format('opentype');
    font-weight: 600;
}
@font-face {
    font-family: BaileyScript;
    src: url('./SansSerif/ExtraBold.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: BaileyScript;
    src: url('./SansSerif/Black.otf') format('opentype');
    font-weight: 800;
}
@font-face {
    font-family: BaileyScript;
    src: url('./SansSerif/ExtraBlack.otf') format('opentype');
    font-weight: 900;
}

:root{
    --primary: black;
    --primary75: black;
    --primary50: black;
    --primary25: black;

    --primary1: black;
    --primary175: black;
    --primary150: black;
    --primary125: black;

    --primary2: black;
    --primary275: black;
    --primary250: black;
    --primary225: black;

    --content: white;
    --content75: white;
    --content50: white;
    --content25: white;

    --content1: white;
    --content175: white;
    --content150: white;
    --content125: white;

    --content2: white;
    --content275: white;
    --content250: white;
    --content225: white;

    --red: hsl(0, 80%, 50%);
    --orange: hsl(30, 80%, 50%);
    --yellow: hsl(60, 80%, 40%);
    --green: hsl(120, 80%, 40%);
    --blue: hsl(240, 80%, 55%);
    --purple: hsl(270, 80%, 45%);
    --magenta: hsl(300, 80%, 40%);

	--inline-moat: 6rem;
}

body{
    margin: 0;
    font-size: 14pt;
    font-family: BaileyScript;
    background: var(--primary);
    color: var(--content);
}