
[ui="view"]{
    display: grid;
    align-content: start;
    padding: 4rem 1rem;
}

[ui="title"]{
    font-size: 30pt;
    font-weight: 700;
}

[ui="subtitle"]{
    font-size: 25pt;
    font-weight: 700;
    opacity: 0.6;
}

[ui="code-stack"]{
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background: var(--l1);
}

[ui="grid"] {
    display: grid;
}

[ui="v-stack"]{
    display: block;
}

[ui="v-split-stack"]{
    display: grid;
    grid-template-rows: auto min-content;
}
[ui="v-push-stack"]{
    display: grid;
    grid-template-rows: auto min-content;
}
[ui="v-pull-stack"]{
    display: grid;
    grid-template-rows: min-content auto;
    align-items: end;
}

[ui="v-spread-stack"]{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1px, 1fr));
}

[ui="h-stack"] {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    overflow-x: auto;
    overflow-y: hidden;
}
[ui="h-stack"]::-webkit-scrollbar {
    display: none;
  }
[ui="h-stack"].snap{
    scroll-snap-type: x mandatory;
}
[ui="h-stack"].snap > * {
scroll-snap-align: start;
}

[ui="h-split-stack"]{
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
}
[ui="h-push-stack"]{
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
}
[ui="h-pull-stack"]{
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
}

[ui="h-spread-stack"]{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    align-items: center;
}

[ui="empty-photo"]{
    background: linear-gradient(to bottom right, var(--l3), var(--l1))
}

[ui="menu"]{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: var(--bg);
}

[ui="menu"][menu="list"]{
    display: grid;
    /* grid-template-rows: repeat(auto-fit, minmax(1px, 1fr)); */
    gap: 0.5rem;
    align-items: center;
    background: var(--l1);
}

[ui="menu"][menu="list"] [ui="option"]{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    font-size: 20pt;
    font-weight: 500;
    background: var(--bg);
}

[ui="menu-close"]{
    /* background: red; */
    color: var(--red);
}

[custom_struct]{
    display: none;
}